section#copyright
    div.container
        div.row
            // Records site -> footer -> first
            div.col-md-6.behind.text-left
                != records.site.footerdata[0].first

            // Records site -> footer -> first
            div.col-md-3.quicklnks.text-left
                != records.site.footerdata[0].second

            // Records site -> footer -> first
            div.col-md-3.conts.text-left
                != records.site.footerdata[0].third

            // Records site -> sitedata -> footer
            div.col-md-12
                != records.site.sitedata[0].footer


    script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
    script(type="text/javascript" src="../js/webriq-bootstrap-material-ui.min.js")
    script(type="text/javascript" src='../js/sidenav.min.js')
    script(type="text/javascript" src='../js/main.js')
    