.social-header-topright li a {
    border: solid 2px #29b6f6
}

/*Hover*/
.social-header-topright li:nth-child(1) a:hover{
    color: #ffffff;
    background: #0772a2;
    border: 2px solid #ffffff;
}
.social-header-topright li:nth-child(2) a:hover{
    color: #ffffff;
    background: #0772a2;
    border: 2px solid #ffffff;
}
.social-header-topright li:nth-child(3) a:hover{
    color: #ffffff;
    background: #0772a2;
    border: 2px solid #ffffff;
}

/*Font*/
#copyright .container h4{
    color: #ffffff
}

/*Button*/
#sliderhead .booknw2 a:hover{
    color: #fff !important
    background: rgba(255, 255, 255, 0.20)
    border: solid 2px #ffffff
}
.booknw{
    border: solid 2px #29b6f6
    color: #ffffff
    background: rgba(24,24,24,0.29)
}

/*Hover*/
.hvr-ripple-out:before{
    border: #00afff solid 1px
}