.social-header-topright
	li
		a
			background $primary-color
			border solid 2px $primary-color

.sliderhead
	.text-det
		h4:before
			border-color $primary-color !important
			opacity .75 !important
	.booknw2
		a
			background $primary-color
			border 2px solid $primary-color

		&a:hover
			background rgba(255, 255, 255, 0.20)
			border-color $white

	.scrolldwn
		a
			color $white
		&:hover
			text-decoration none