// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------

// Font stacks (add your own!)
$helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif


// Default font settings
$font-stack = $helvetica-neue
$font-size = 16
$font-color = rgba(0,0,0, .87)

// Light Text
$white-87 = rgba(255, 255, 255, .87)
$white-75 = rgba(255, 255, 255, .75)
$white-65 = rgba(255, 255, 255, .65)
$white-54 = rgba(255, 255, 255, .54)
$white	  = rgba(255, 255, 255, 1)

// Dark Text
$black-87 = rgba(0, 0, 0, .87)
$black-75 = rgba(0, 0, 0, .75)
$black-65 = rgba(0, 0, 0, .65)
$black-54 = rgba(0, 0, 0, .54)

$primary-color = #2962FF
$secondary-color = #2979FF

// Colors (via http://clrs.cc - slightly modded)
$navy     = #001F3F
