.sidenav
	background-color $primary-color

	.sidenav-menu
		li
			a
				color $white-75

	.credentials_nav
		a
			background-color $white !important
			color $primary-color

		a:hover
			color $white-75

	.resrv
		color $white-54 !important

.sidenav-overlay
	background-color $black-54

.navigation-button
	a
		display inline-block
		font-size 24px
		color #fff

		svg
			vertical-align: middle;
			margin-right: 15px;

	a:hover, a:focus
		text-decoration none !important