@import '_settings'
@import '_colorize'
@import '_header'
@import '_sidenav'
@import '_services'
@import '_footer'

normalize-css()
base()

body
  padding: 0px
  font-family: "Nunito", sans-serif
  color $font-color

header, .footer
  text-align:center

a
	color $primary-color